/* Colors on the website
    header background color: white
    top nav background color: rgba(0, 0, 0, .97)
    main background color: white
    a:link color: white
    a:visited color: rgb(188, 188, 188)
    a:hover color: rgb(24, 155, 155)
    footer background color: white
    all header tags and p tags: black
*/

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

@font-face {
    font-family: 'Press Start 2P';
    src: url("../fonts/PressStart2P-Regular.ttf") format("truetype"), url('pressstart2p-regular-webfont.woff2') format('woff2'), url('pressstart2p-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
}

#avatar {
    height: auto;
    width: 9vw;
}

@media only screen and (max-width: 1200px) {
    #avatar {
        display: none;
    }
    figure {
        grid-template-columns: auto auto !important;
    }
}

@media only screen and (max-width: 850px) {
    #avatar {
        display: none;
    }
    figure {
        display: flex !important;
        margin: 2% !important;
        flex-wrap: wrap;
    }
    #categoryCard {
        margin: 5% auto;
    }
}  

header a {
    background-color: rgba(0, 0, 0, .97);
    color: white;
    text-decoration: none;
    list-style-type: none;
    padding-left: 0;
    line-height: 3.5rem;
}

header a:link {
    color: white;
}

header a:visited {
    color: rgb(188, 188, 188);
}

@media only screen and (min-width: 999px) {
    header a:hover {
        color: rgb(24, 155, 155);
        background-color: whitesmoke;
        border: 1px solid black;
    }
}

main {
    background-color: white; 
}

footer {
    border-top: 3px solid black;
    background-color: white;
}

h2-h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    color: black;
    font-size: 300%;
    font-weight: 600;
    text-align: center;
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 175%;
}

h4 {
    font-size: 150%;
}

h5 {
    font-size: 125%;
}

h6 {
    font-size: 115%;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 100%;
    line-height: 1.65rem;
}

address {
    color: black;
    font-style: normal;
}

div ul {
    list-style-type: none;
    padding-left: 0;
}

#email {
    text-transform: lowercase;
}

.pieData {
    display: none;
}

#categoryCard {
    border: 5px solid black;
    padding: 1.5rem;
    border-radius: 4%;
}

#categoryCard h2 {
    position: relative;
    text-align: center;
    animation-name: zoom;
    animation-duration: 2.5s;
	animation-iteration-count: 1;
}

@keyframes zoom {
    0% { left: 0%; top: 0%; transform: skewY(6deg)}
	25% { left: 20%; top: 0%; transform: skewY(3deg)}
	50% { left: -20%; top: 0%;}
	75% { left: 20%; top: 0%;}
	100% { left: 0%; top: 0%;}
}

a img {
    border: solid 2px rgb(72, 90, 79);
    box-shadow: -2px 2px 4px rgb(72, 90, 79);
}

